<form action="/answer" method="get">
  <div class="form-group">
    <p>Ask your coach anything:</p>
    <input type="text" placeholder="What time is it?" class="form-control" name="question" />
  </div>
  <input type="submit" class="btn btn-success btn-lg btn-block" value="Ask!"/>
</form>
